
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">DNS Server</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table tablesorter " id="">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          ServerName
                        </th>
                        <th>
                          ServerCenter
                        </th>
                        <th>
                          SercerContent
                        </th>
                        <th class="text-center">
                          ServerStrength
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          ipNX
                        </td>
                        <td>
                          ipNX Nigeria Limited, VI
                        </td>
                        <td>
                          Broadband
                        </td>
                        <td class="text-center">
                          Excellent
                        </td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card  card-plain">
              
            </div>
          </div>
        </div>
      </div>

