
    <div class="sidebar">
      <!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red" -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="#" class="simple-text logo-mini">
            <i class="fas fa-globe fa-2x"></i>
          </a>
          <a href="#" class="simple-text logo-normal">
            settings
          </a>
        </div>
        <ul class="nav">
          <li class="">
            <a href="/DHCP.html">
              <i class="fas fa-toggle-on fa-5x"></i>
              <p>DHCP modification</p>
            </a>
          </li>
          <li>
            <a href="/wifi.html">
              <i class="fas fa-wifi fa-5x"></i>
              <p>wifi settings</p>
            </a>
          </li>
          <li>
            <a href="/DNS.html">
              <i class="fas fa-server fa-5x"></i>
              <p>DNS servers</p>
            </a>
          </li>
          <li>
            <a href="/device.html">
              <i class="fas fa-laptop fa-5x"></i>
              <p>Device settings</p>
            </a>
          </li>
        </ul>
      </div>
    </div>

